@page "/Account/Register"
@using System.ComponentModel.DataAnnotations

<PageTitle>Register</PageTitle>

<div class="animate-fade-in">
    <h2 class="text-center script-text mb-2 mt-2">Use another service to register.</h2>

    <ExternalLoginPicker/>
</div>



@code {
    private IEnumerable<IdentityError>? identityErrors;

    [SupplyParameterFromQuery] private string? ReturnUrl { get; set; }
    
}