@* App.razor *@
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <component type="typeof(HeadOutlet)" render-mode="InteractiveServer" />
    <ImportMap/>
    <link rel="icon" type="image/png" href="favicon.png"/>
</head>

<body>

<script src="_framework/blazor.web.js"></script>

<CascadingAuthenticationState>
    <Routes></Routes>
</CascadingAuthenticationState>
</body>
